notebook==7.0.6
numpy==1.26.4
ipympl==0.9.3
matplotlib==3.8.2
PyQt6==6.7.0
pyopengl==3.1.7
pyqtgraph==0.13.3
scipy==1.12.0
vispy==0.14.1
pybind11==2.10.3
pybind11-stubgen==2.3.6
torch==2.2.0
torchvision==0.17.0
typed-argparse==0.3.1
openmim==0.3.9
chardet==5.2.0
dataclass_wizard==0.22.3
typed-argparse==0.3.1